/* You can add global styles to this file, and also import other style files */
h1 {
    color: darkslategrey; 
    text-align: center;
}

table {
    margin:  50px 50px 50px 50px;
}

form {
    margin : 50px 30px 30px 30px;
}

.btn-primary {
    margin-left: 50%;
}

